html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: rgb(132, 165, 157);
  color: rgb(60 95 86);
}

h1 {
  font-size: 3rem;
  padding-block: 1rem;
  text-align: center;
}

hr {
  width: 90%;
  color: #5d5a5a;
}

#container {
  width: 30%;
  background-color: rgb(245, 202, 195);
  margin-inline: auto;
  aspect-ratio: 1/1;
  border-radius: 6px;
  margin-top: 15rem;
  position: relative;
}

#questions {
  display: block;
  margin-inline: auto;
  margin-block: 1rem;
  color: #5d5a5a;
}

label.existing-label {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding-inline: 1rem;
}

#difficulty {
  display: block;
  margin-block: 1rem;
  margin-inline: auto;
  color: #5d5a5a;
}

.customSelectTag {
  width: 5rem;
  margin-right: 1rem;
  display: inline-block;
}

#start-quiz {
  display: block;
  margin-inline: auto;
  margin-top: 4rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(132, 165, 157);
  border: none;
  border-radius: 6px;
  color: rgb(37 46 44);
}

.customP {
  font-size: 2rem;
  text-align: justify;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.customDivAnswer label {
  font-size: 1.6rem;
  display: inline-block;
}

.customDivAnswer {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

.customNextButton {
  position: absolute;
  right: 10px;
  bottom: 35px;
}

.hide {
  display: none;
}

#show-score {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.5rem;
}

.green {
  background-color: green;
  /* color: green; */
}

.red {
  background-color: red;
}

option {
  color: rgb(60 95 86);
}
